[2014-08-22 13:49] mcortinas opened #2 "maybe new enhancement"
first of all, thank you so much for this module, I use it in our platform
for other hand, I re-write a little change to deplaoy a multiple graphite sources.

By the moment, we use 1 array called graphite_socket instead of graphite_port and graphite_server with an loop in config.js.erb.

[2014-08-25 11:32] #2 closed, assigned to nobody

[2014-09-08 18:30] neoice opened #5 "syntax errors when using example declarations"
[code]

causes: `Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Datasources cannot be empty`

[code]

causes `Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Syntax error at '=>'; expected '}'`

[2014-10-09 04:09] jarshwah opened #6 "Archive is extracted to the wrong folder"
With the standard usage, the directory structure of grafana is:

[code]

This presents a problem (and a bug), because the archive is being expanded into `$install_dir/grafana-version/grafana-version`.

The solution is to provide the `archive` type with a `strip_components` argument:

[code]

This ensures that the top level folder name is removed, since the archive::extract type creates a directory

[2014-10-22 07:36] jangrewe opened #9 "stdlib necessary?"
Hi, we're tried to using your module as-is, but we have a duplicate declaration of 'stdlib' because we're using it for stages - but i didn't notice any usage of stdlib in your module?
Is it possible to remove it from your init manifest? If so, i'd open a pull request, as we've also added the default_route parameter.

thanks,
Jan

[2014-10-23 16:12] jojijohn opened #10 "Please create a tag"
Thank you for this helpful module. Could you please create a tag? We would like to use this in production and want to go with a stable tagged version.
Thanks!
Joji

[2014-10-27 04:07] #10 closed, assigned to nobody

[2014-10-27 04:26] #9 closed, assigned to nobody

[2014-11-07 23:33] aamerik opened #14 "Puppet::Parser::AST::Resource failed with error ArgumentError: Invalid resource type archive"
Hi. I'm having trouble using this module.  I've made sure pluginsync did it's job master agent side.
Help would be much appreciated!

[code]

[2014-11-08 02:10] #14 closed, assigned to nobody

[2014-12-10 06:24] elatt opened #20 "checksums.json on puppetforge is incorrect"
It seems that the value of metadata.json in the checksums.json file on the puppetforge is wrong which causes 'puppet module' command to complain that there are local edits when there are not.

[2014-12-17 15:36] #6 closed, assigned to nobody

[2014-12-17 16:10] #5 closed, assigned to nobody

[2015-03-30 16:34] neoice opened #23 "heads up: grafana 2.0 coming soon"
http://grafana.org/blog/2015/01/12/grafana2-the-future-and-raintank.html
http://grafana.org/blog/2015/02/10/Grafana-2-Alpha-and-preview.html
http://grafana.org/blog/2015/03/30/Grafana-2-Beta1.html
http://docs.grafana.org/installation/migrating_to2/

I think the most painful change is probably going to be the "datasource" configuration. it now lives in a database. a custom provider could be written

[2015-03-31 05:41] bfraser commented on #23
Agreed. I've been watching for this for the past couple of months. I'm particularly interested in the authentication options, organization and role functionality, and the data backend which means it is no longer necessary to store dashboard data in Elasticsearch.

[2015-04-04 20:51] bfraser commented on #23
I've begun work on a version of the module that works with Grafana 2.0 and have committed the changes into the [develop](https://github.com/bfraser/puppet-grafana/tree/develop) branch of the repository.

There is obviously a lot of work to do still, but please test the module and let me know what you think. Thanks!

[2015-04-08 14:24] tomtheun commented on #23
@bfraser, works perfectly on Debian 7. Any idea when you are going work on managing the configuration file?

[2015-04-08 15:45] forty4487 commented on #23
@bfraser, real quick question.  are the configs available in 1.x still available in the dev branch or have you only setup the install method?

[2015-04-08 17:35] bfraser commented on #23
@tomtheun yes, ASAP :)

Seriously though, my plan was to get out an initial version of the module that handles basic installation and management of the service, since it is no longer served up by a separate web server, and that full management of the configuration including support for datasources etc would be put in place over time.

@forty4487 No they are not, and the reason for that is Grafana

[2015-04-08 18:30] tomtheun commented on #23
@bfraser, great to hear, let me know if I can do anything to help.

[2015-04-08 18:45] bfraser commented on #23
Thanks @tomtheun I would welcome any pull requests to implement class parameters and management of Grafana 2.0 [configuration](http://docs.grafana.org/installation/configuration/), as well as any implementation of a provider to work with the HTTP API.

[2015-04-08 19:09] tomtheun commented on #23
@bfraser, any preference for either doing the config with a template or https://forge.puppetlabs.com/puppetlabs/inifile?

[2015-04-08 19:21] bfraser commented on #23
@tomtheun using inifile seems like a clean, supported way of doing it, so I would be for that approach I think

[2015-04-15 20:12] neoice opened #25 "puppet-lint issues"
these warnings are generated using the Puppet4 recommendations: http://www.camptocamp.com/en/actualite/getting-code-ready-puppet-4/

[code]

I believe this is a false-positive warning and may be entirely obviated by the next major release...

using a declaration like the following (taken from the README):

    class { 'grafana':
      install_dir  => '/usr/local',
      datasources  => {
        '

[2015-04-17 05:00] bfraser commented on #25
Hi @neoice thanks for opening this. Let me address your points in turn.

[code]

I'm not overly concerned with this one as there is no logic wrapped around whether the admin password is an empty string, instead it's just a straight substitution in `config.js`.

[code]

This [check](http://puppet-lint.com/checks/class_inherits_from_params_class/) is only present to ensure backwards compatibility wi

[2015-04-23 01:30] bfraser commented on #23
Closing as a version of the module supporting Grafana 2.0.1 has been released.

[2015-04-23 01:30] #23 closed

[2015-04-23 01:32] bfraser commented on #20
@elatt thanks for the report.

I haven't received any other reports of this particular problem, and there have been module releases published to the Forge since this was reported, so I'm inclined to close this out unless it continues to be a problem.

[2015-04-23 01:36] bfraser commented on #25
@neoice I've published a new version of the module supporting Grafana 2.x and don't feel there's anything here left to action as the module's behavior has changed. Thoughts?

[2015-04-23 02:47] elatt commented on #20
Looks like this is still a problem. It's very easy to verify:
1) Download the tarball from https://forge.puppetlabs.com/bfraser/grafana/readme (2.0.1 at the time of this writing)
2) extract
3) validate all the recorded md5sums in checksums.json with the corresponding file and you will see that metadata.json has an actual md5sum of 9e1b77753cdfa5c86649dba564a5b1ec while checksums.json lists it as 3

[2015-04-23 04:03] bfraser commented on #20
@elatt is [this](https://tickets.puppetlabs.com/browse/PUP-2645) perhaps the issue you're referring to?

[2015-04-23 04:32] elatt commented on #20
Yes, that does seem like the root cause.

[2015-04-28 15:20] paulgeringer opened #28 "Make a release for the current HEAD"
Could you push a tag for this repo to match the release marked as 2.0.2 in the forge?

[2015-05-01 01:51] bfraser commented on #28
Hi @paulgeringer my apologies for not remembering to tag the releases. I have just pushed tags for the last release of the 1.x series as well as the [release](https://github.com/bfraser/puppet-grafana/releases/tag/v2.0.2) published as 2.0.2 on the Forge.

The latest commits to the repository, to install the fontconfig dependency on Red Hat / CentOS systems and install Grafana 2.0.2 by default, hav

[2015-06-05 02:06] #28 closed

[2015-06-11 07:25] stphnwallace opened #35 "How to use your module to setup graphiteUrl: in config.js?"
Hi,

Thanks for producing a great module!

I have one question. I'm trying to update the graphiteUrl in the /opt/grafana/config.js and struggling to see how to do it.

Is there perhaps a new "cfg => {" option that I've not come across perhaps? Or, should I be looking to use something like the file_line function at this stage to "grep" and update my graphite host details?

I'm sure i'm being a bit

[2015-06-12 04:36] bfraser commented on #35
Hi @stphnwallace thanks for your interest in the module!

As of Grafana version 2.x there no longer is a `config.js` file, so am I correct to assume that you are using the 1.x series? If so, I recommend using version 1.0.1 of this module ([GitHub](https://github.com/bfraser/puppet-grafana/releases/tag/v1.0.1), [Puppet Forge](https://forge.puppetlabs.com/bfraser/grafana/1.0.1/readme)) as it is the

[2015-07-14 02:08] tarakpurohit opened #36 "Ability to install from local rpm store"
I could not change the package source to our in house Spacewalk.
I had to do a workaround in *install.pp* by commenting out provider and source.
[code]

It would be helpful if we can use the system default.

[2015-07-24 02:46] hurrycaine opened #37 "archive install check if user and/or service was already defined"
At my work we are very specific with how we create our users and groups (uid, home dir etc...).
I also did not like the service that is default with archive install. Chances are someone would create a start up script or something here.

At first I was going to add a manage user/service parameter but since this supports many different types of install methods I thought this would get confusing. Als

[2015-07-30 13:41] adamcstephens opened #40 "Support for LDAP configuration"
Grafana 2.1 adds [LDAP support](http://docs.grafana.org/v2.1/installation/ldap/). Unfortunately, this separate config file is written in TOML which looks to be non-trivial to template. I've stubbed out an example that dumps a config hash into TOML, but it requires the toml gem to be installed. In a master setup, this would require the toml gem to be installed in the puppetserver (puppetserver gem

[2015-07-30 13:45] adamcstephens commented on #36
The git repo has support for installing from a repo instead.

@bfraser Can we get a new forge release with the repo support?

[2015-08-04 18:37] #37 closed

[2015-08-04 18:38] #35 closed

[2015-08-05 14:52] adamcstephens opened #42 "version 2.1 not found for RPM package"
[code]

RPM/yum systems need the iteration in the package version. I can put a PR together, but will need to know what OS you're expecting 2.1.0 to work with?

[2015-08-05 14:55] bfraser commented on #42
Hi @adamcstephens thanks for the report!

Yes, a PR would be great since 2.1 should work for RPM/yum systems as well.

[2015-08-06 07:38] simonpasquier opened #45 "Failed dependency when manage_package_repo is false"
I get this error:
[code]

I'll try to send a PR in a day or so.

[2015-08-06 12:42] simonpasquier opened #46 "Tests are broken with the puppet-rpec master branch"
I'm looking at fixing issue #45 but I can't get the tests to pass on the master branch and the Travis CI is in the same state: 3 that_comes_before() assertions are failing. For instance:

[code]

The last PR on puppet-rspec (https://github.com/rodjek/rspec-puppet/pull/261) deals with improving the dependency detection. So I decided to use puppet-rspec v2.2.0 instead of master and all tests pass ag

[2015-08-07 13:59] #42 closed

[2015-08-07 14:45] #45 closed

[2015-08-07 15:38] bfraser commented on #40
HI @adamcstephens thanks for your contribution!

This looks good, however I do not have LDAP infrastructure to test with. I have applied the configuration as per the documentation, I can see both the main Grafana configuration and the LDAP configuration being built, however ```grafana-server``` will not start for me.

In checking the log, it looks like Grafana is attempting to use the LDAP configu

[2015-08-07 15:44] adamcstephens commented on #40
We am using this in production with our fork. I've updated the README to reflect the needed bind_dn and bind_password, even though the upstream Grafana docs say its not necessary. (We are using them)

[2015-08-07 15:50] bfraser commented on #40
Excellent, thank you.

I do see mention in the [documentation](http://docs.grafana.org/v2.1/installation/ldap/) that Grafana expects a bind DN and password to be supplied.

"By default the configuration expects you to specify a bind DN and bind password. This should be a read only user that can perform ldap searches. When the user DN is found a second bind is performed with the user provided usern

[2015-08-07 16:10] bfraser commented on #40
fulfilled by #43

[2015-08-07 16:10] #40 closed

[2015-08-07 17:13] bfraser commented on #36
A new version of the module has been [published](https://forge.puppetlabs.com/bfraser/grafana) to the forge, and a [release](https://github.com/bfraser/puppet-grafana/releases/tag/v2.1.0) has been created in GitHub.

Please refer to the [README](https://github.com/bfraser/puppet-grafana/blob/v2.1.0/README.md), specifically use of the ```install_method``` and ```manage_package_repo``` parameters, f

[2015-08-07 17:13] #36 closed

[2015-08-07 17:31] bfraser commented on #46
Thanks for the report @simonpasquier

I noticed this as well and am not sure where the problem lies either. I welcome suggestions!

[2015-08-14 09:41] khdevel opened #50 "ldap config fails with type mismatch"
Hi,
When trying to deploy the ldap authentication for grafana I'm experiencing an issue with port variable being treated as string and not an integer.
This is a part of the config file:
[code]
And the output ldap.toml file looks like:
[code]
It doesn't matter whether I change port to:
```port => 636,```
In the ldap.toml file I still get this value as string. Also trying not to specify any port res

[2015-08-28 15:42] noroute opened #51 "Requires Puppet >= 3.4.x but not stated in metadata.json ('contain' function)"
The module uses the 'contain' function introduced in Puppet 3.4.x but metadata.json states it runs with 3.x.

We're in an installation with 3.1.x so I'll look into if there's an easy way to backport.

[2015-09-02 17:05] everflux opened #52 "version parameter has no effect"
When configuring with '2.1.3' the downloaded version is still '2.1.0' from the default parameters.

[2015-09-10 05:11] Ev1l commented on #50
Yes, seeing this myself as well.

`2015/09/09 21:53:24 [log.go:75 Fatal()] [E] Failed to load ldap config file: Type mismatch for 'login.LdapConfig.servers': Type mismatch for 'login.LdapServerConf.port': Expected integer but found 'string'.`

Also for some reason puppet writes the config to the ldap.toml in random order, and causes another error.

`2015/09/09 21:51:59 [log.go:75 Fatal()] [E] Fail

[2015-09-14 19:50] shanemadden commented on #52
Just ran into this too - it's because `$package_source` is set inside params.pp, which uses the params.pp's `$version`.  That should probably be done inside init.pp or install.pp instead, so the passed value will be respected.

[2015-09-17 20:39] slick666 commented on #50
I think these are two separate issues. The quotes around the 636 port being one but the issue @Ev1l is talking about seems to be an ordering issue. For me when I saw that `Key '' was already created` error it was because the `[[server]]` appears after the `[server.attributes]` header. Rearranging them in the file fixed it for me.

[2015-09-18 19:41] slick666 commented on #50
@khdevel My solution to your problem was to template out the TOML file separately. It's a little hacky but it seems to work.

[2015-09-25 23:06] domingusj commented on #52
Could it be that the params.pp file has a hyphen instead of an underscore on lines 23 and 28? I was running into problems with the install and after changing the - to a _ I was able to install 2.1.3

[2015-09-27 01:21] domingusj commented on #52
I apologize, my comment about the hypen/underscore is incorrect. What actually fixed my issue was deleting /tmp/grafana.deb and then I installed the new version.

[2015-10-07 07:38] nohn opened #55 "Config not applied"
My manifest is very simple and straightforward like this:

    class { 'grafana':
      cfg => {
        app_mode => 'production',
      },
    }

While grafana is installed with mainfest, the config remains untouched and looks like this:

    sebastian@host:~$ sudo cat /etc/grafana/grafana.ini
    # This file is managed by Puppet, any changes will be overwritten

    sebastian@host:~$

Happens al

[2015-10-07 10:28] nohn commented on #55
puppet-grafana definitely touches this file. Changes done to this file via other mechanisms are nulled, once the grafana class is executed.

[2015-10-07 10:30] nohn commented on #55
Grafana related debug output from a puppet run:

    Debug: importing '/etc/puppet/modules/srvgrf/manifests/grafana.pp' in environment production
    Debug: importing '/etc/puppet/modules/grafana/manifests/init.pp' in environment production
    Debug: Automatically imported grafana from grafana into production
    Debug: importing '/etc/puppet/modules/grafana/manifests/params.pp' in environment pr

[2015-10-13 10:46] nohn commented on #55
Any way how I can help you to debug this further?

[2015-10-14 18:24] brettswift opened #57 "datasource config support for v2"
According to #35 it's possible to configure datasources via the API, but the work hasn't been done yet.

I didn't see anywhere to track this work - so I thought I'd create this issue card.   I may / may not have time eventually to work on this, however not for the next month or so.

Let me know if this is being tracked elsewhere, or if anyone is working on this feature.

Thanks!

[2015-10-19 15:15] gakhov commented on #51
+1

[2015-10-26 03:17] bfraser commented on #46
Tests pass now, so I'm closing this.

[2015-10-26 03:17] #46 closed

[2015-10-26 03:49] bfraser commented on #51
Hi @noroute thanks for the report! You are correct.

To ensure resource containment without use of the ```contain``` function, for versions of Puppet < 3.4.0, it would be necessary to use the anchor pattern as mentioned in Puppet Labs' [language reference](https://docs.puppetlabs.com/puppet/latest/reference/lang_containment.html#anchor-pattern-containment-for-compatibility-with-puppet--340).

The

[2015-10-26 07:58] #52 closed

[2015-10-26 22:32] jcochard commented on #55
Seeing a similar thing on Ubuntu 12.04 with release v2.0.1 of the module where some items appear to be put under sub-sections they don't belong to.

[code]
app_mode ends up under [server] for some reason:

[code]

[2015-10-26 22:43] jcochard commented on #55
Updating to commit ID e52afa8c43ca101ea8f325aa67404d2cc958e351 fixed this for me.

[2015-10-28 04:47] bfraser commented on #57
Hi @brettswift thanks for your interest! This is not being tracked elsewhere, nor is anyone working on the feature (that I am aware of).

I don't know how much of a use case there is for managing Grafana's data sources as resources in Puppet, since it tends to be something you configure initially and then leave alone, and they can easily be managed via the web interface.

That being said, if there

[2015-10-30 15:30] Ev1l commented on #50
@slick666 do you have an example of the templating you can share? Seems that will be the only way that this can work or else it might break after each puppet run.

[2015-10-31 00:46] jaredledvina commented on #50
I'm experiencing the exact issue described here. I took a look at the TOML ruby gem but don't see anything obvious as to why this is happening. Looks like I'll need to go the template-ing route until this is resolved.

@adamcstephens - I see that you created the PR in https://github.com/bfraser/puppet-grafana/pull/43/. Have you run into this?

[2015-10-31 19:14] bfraser commented on #50
@jaredledvina I agree, it doesn't appear to be the TOML gem that is causing this. As you can see here, the string returned by ```TOML::Generator.new(@ldap_cfg).body``` does not have the port number in quotes.
[code]

However, I don't understand at this point where the quotes are being added. Maybe it's got something to do with how the variable is referenced, or there's some manipulation being done

[2015-10-31 19:32] bfraser commented on #55
Hi @nohn thanks for the report. Can you confirm if using a version that includes [this commit](https://github.com/bfraser/puppet-grafana/commit/99a92e39aec38dc1f91711e4d809a1815e0a683c) resolves the issue for you?

[2015-11-02 14:08] simonpasquier commented on #57
Hi, I've got this working in another Puppet module [0] for my own project. I'm willing to contribute it to this module if others are interested. Just need to find a bit of time to send a PR.

[0] https://github.com/openstack/fuel-plugin-influxdb-grafana/blob/master/deployment_scripts/puppet/modules/lma_monitoring_analytics/lib/puppet/type/grafana_datasource.rb
https://github.com/openstack/fuel-plu

[2015-11-03 13:45] ltutar opened #62 "yaml is not read"
I have the following yaml file.
grafana::install_method: 'package'
grafana::version: '2.5.0'

but puppet will still install the default version 2.0.1-1 that is defined in params.pp

[2015-11-03 16:21] brettswift commented on #57
The use case for us  would be kind of useful so I'll try to explain.  I think it's likely useful for others but that's just my opinion :)

Without the ability to configure this you're forced to use your mouse and click around, and copy and paste.  Which isn't great.   We try to have everything driven by configuration data, which helps us automate.

In a long lived server, this isn't that beneficia

[2015-11-03 22:17] ltutar commented on #62
using version 2.5.0 of bfraser-grafana solved this issue.

[2015-11-03 22:17] #62 closed

[2015-11-04 08:38] ltutar commented on #57
I am using Puppet to roll out a continuous delivery pipeline. I would like to configure the datasource through this module in order to integrate elasticsearch with grafana. It is then fully automated and all of the functionality is in one place i.e. this module.

[2015-11-04 09:04] simonpasquier commented on #57
I've sent a PR with what I had already in my other module. Note that it only supports InfluxDB because that's the backend we're using but I think that additional backends could be supported easily.

Let me know if this matches your requirements.

[2015-11-04 09:09] ltutar commented on #57
Definitely if I can define the elasticsearch as type and the hash properties through yaml.

[2015-11-10 19:41] adamcstephens commented on #50
Finally had time to look at this, and it appears I worked around the issue. Puppet is converting it into a string, not the toml gem. My workaround was to force puppet to cast it as an Integer by adding zero:

    $base_ldap_cfg = {
      servers => [
        { host => $ldap_server,
          port => 636+0,
          use_ssl => true,

Its a hack. Sorry, I should have added this to the README sectio

[2015-11-12 13:50] simonpasquier commented on #57
@ltutar I've updated my PR to support more datasource types. Can you have a look and try? I'm primarily an InfluxDB user...

[2015-11-12 14:47] ltutar commented on #57
I'll give it a try this weekend.

[2015-12-31 15:53] hany opened #66 "Is data_dir used anywhere?"
I'm trying to change the default location of the Grafana `data_dir`. When setting this parameter, it does not seem to have an effect. Looking through the source of this module, it appears it's not being used anywhere. I see it being referenced in [`params.pp`](https://github.com/bfraser/puppet-grafana/blob/5e58a75151076e8a4a180e074caa8e1c19f70ee8/manifests/params.pp#L11) and in the definition of [

[2016-01-04 14:14] simonpasquier commented on #57
@ltutar any feedback on my patch?

[2016-01-05 09:12] vide opened #67 "Can't override grafana::version with package install"
I'm using Hiera and Puppet 3.8 but I guess this doesn't work without Hiera too (don't know if it works with Puppet 4 though). After a little bit of investigation I found that basically is because $version used to create the URL for the package isn't expanded with the data provided by Hiera, so basically it always install the $version defined in grafana::params (2.5.0 right now) even if I specify a

[2016-01-05 10:04] ltutar commented on #57
It works like a charm. Thank you.
My code:
[code]
The next step is to yaml the code :)

![grabberraster 0027](https://cloud.githubusercontent.com/assets/7237078/12112278/ece92f50-b39b-11e5-9c63-3a4a0fdda958.jpg)

[2016-01-05 12:49] ltutar commented on #57
Puppet agent run does each time notices the json_data change. I do not know what the implication of this action is.
[code]

[2016-01-05 15:06] simonpasquier commented on #57
@ltutar I'll have a look at it.

[2016-01-06 12:30] ltutar commented on #57
Also, with the first puppet run, the datasource is called before the grafana install. the second run is OK.
[code]

[2016-01-06 16:30] simonpasquier commented on #57
@ltutar I guess you need to set an explicit dependency between the grafana service and the grafrana_dashboard resource(s).

[2016-01-07 13:48] cristifalcas opened #69 "ldap_cfg prints the json in random worder"
As commented also in #50, the toml gem is rendering the /etc/grafana/ldap.toml file in random order. Which means that if [[servers]] is not set to be the first node, then grafana will not start.

I don't think that the gem can take care of that, as this is the nature of json: no ordering of nodes.

The entire inline_template configuration should be moved to a proper template.

[2016-01-07 13:51] cristifalcas commented on #69
I wanted to refer to hash on the above comment

[2016-01-11 09:57] grumpycatt opened #70 "Typo into README"
Hello there,

I won't PR for that kind of stuff, there is just a typo into the README:

"This assumes that you **with** to install Grafana using the 'package' method. To establish customized parameters"

This assumes that you **want ?** to install Grafana using the 'package' method. To establish customized parameters

Anyway, thanks for this module !
Regards

[2016-01-14 09:00] ltutar commented on #57
for future reference of dependency issue:
init.pp
[code]
config.pp
[code]

[2016-01-15 14:55] simonpasquier commented on #57
I've noticed a [bug](https://github.com/grafana/grafana/issues/3755) in Grafana that explains why the resource tries to always update the json_data field.

[2016-01-18 07:11] ltutar commented on #57
thank you

[2016-01-18 21:19] simonpasquier commented on #57
So I've updated the PR to take into account how the Grafana API works. The CI tests are failing but I'm not sure it's related to my change since I see that many other PRs are in the same state.

[2016-01-19 00:59] mikeridley commented on #69
Also having this problem - ldap.toml file is output with sections in arbitrary order, causing parsing failure when starting grafana.

[2016-01-20 15:38] simonpasquier commented on #57
I've got [another PR](https://github.com/bfraser/puppet-grafana/pull/71) that somehow fixes the CI issue.

[2016-01-22 17:48] petems opened #72 "Add ability to manage grafana dashboards with Puppet"
Would be awesome to be able to setup grafana_dashboards with the module

Looks like @simonpasquier has done some awesome work to do this in the Openstack project: https://github.com/openstack/fuel-plugin-influxdb-grafana/blob/master/deployment_scripts/puppet/modules/lma_monitoring_analytics/lib/puppet/provider/grafana_dashboard/grafana.rb

[2016-01-25 08:39] simonpasquier commented on #72
I'll try to send a PR in a week or two. Ping me if nothing happens by that time ;-)

[2016-02-19 18:48] ntent-ashton commented on #69
The issue here is that hashes are unordered data sets.  There's no arbitrary id assigned to each field, so an order is not possible.  You can tell it to sort, but I can't think of a way to sort so that [server] ends up on top.  I'm going to look into this for my own purposes.

[2016-03-01 06:53] madAndroid opened #74 "garethr/docker version requirement too strict"
Hi,

We're attempting to use garethr/docker version 5.1, but the version requirements in the `metadata.json` file are too restrictive - would you consider changing this to `>= 3.5.0 <6.0.0` ?

Is there anything preventing this from happening, like incompatible features in version > 5.0 ?

[2016-03-01 19:50] mcallaway commented on #74
I have this problem too.

[2016-03-01 19:52] mcallaway commented on #74
Applicable PR failing: https://github.com/bfraser/puppet-grafana/pull/65

[2016-03-05 18:40] jaredledvina commented on #51
Looks like the PR was merged, @noroute all good here?

[2016-03-05 18:45] jaredledvina commented on #66
It should be included in your config.ini
https://github.com/bfraser/puppet-grafana/blob/master/templates/config.ini.erb#L7

[2016-03-05 18:46] jaredledvina commented on #72
Since you asked, @simonpasquier were you able to do this?

[2016-03-07 13:08] simonpasquier commented on #72
@jaredledvina I've updated the PR that's adding the grafana_datasource resource since the grafana_dashboard resource depends on it somehow. Please have a look and tell me if it suits your needs.

[2016-03-14 03:51] #70 closed

[2016-03-14 06:37] bfraser commented on #74
Docker install method tested using version 5.1.0 of garethr/docker, PR has been merged.

[2016-03-14 06:37] #74 closed

[2016-03-14 06:41] #72 closed

[2016-03-21 04:23] keyan commented on #51
We are still on Puppet 3.3 and the `contain` usage is blocking us from using this module. Would you be open to a PR changing to the anchor pattern?

[2016-03-22 12:37] dalesit opened #75 "Module breaks with puppet 4.4"
Generates the following error after upgrading to 4.4:
`Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Error while evaluating a Resource Statement, default expression for $archive_source tries to illegally access not yet evaluated $version`

This appears to be because the default definition of
`$archive_source = "https://grafanarel.s3.amazonaws.com/buil

[2016-03-22 12:53] dalesit commented on #75
Is this related to #67 and would it be fixed by #68 ?

[2016-03-26 03:46] nickchappell commented on #75
I hit this bug too.

[2016-03-29 11:04] caskolkm commented on #75
After you set $version in the calling manifest, you also need to set rpm_iteration..

[2016-03-29 12:56] dalesit commented on #75
Seems logical if you are using a system with rpms (I'm on the Debian os family, so didn't hit this). I've added to the workaround text in the issue description above.

[2016-04-01 11:43] ltutar commented on #75
I also do not hit this on CentOS when I have the following yaml
[code]

[2016-04-01 11:48] ltutar opened #80 "supporting remote directories to retrieve the r[m"
Is it possible to support remote directories like
[code]
I now have to put the rpm in /tmp first in order to retrieve it through yaml like
[code]

[2016-04-04 13:11] ltutar opened #81 "fr: use puppet-archive instead of camptocamp-archive"
The camptocamp-archive breaks the jenkins puppet run since jenkins needs the puppet-archive. Is it possible to modify this module to use the puppet-archive? Thank you in advance.

[2016-04-04 13:30] ltutar commented on #81
this would also take care of https://github.com/bfraser/puppet-grafana/issues/80

[2016-04-06 20:31] grzegorz-dubicki commented on #81
+1

[2016-04-08 14:33] ltutar opened #86 "fr: supporting https grafana url in grafana_datasource"
We have grafana running on https port. It is not possible to create the grafana_datasource if the https grafana is running on port 3000. The protocol https is just ignored.

[2016-04-08 20:38] bgshacklett opened #87 "Error: $archive_source tries to illegally access not yet evaluated $version"
In a Puppet 4 environment, I'm getting the following error when declaring the ::grafana class:

[code]

From what I can tell, this is because the $version parameter is defined after the $archive_source parameter, which is trying to use it. I moved $version above $archive_source on my puppetmaster and I was able to get a successful run, but I haven't had time to thoroughly vet the change.

[2016-04-14 08:42] ltutar opened #89 "Error: default expression for $package_source tries to illegally access not yet evaluated $rpm_iteration"
When I use the module with PE 2016.1.1, I get the following error:
[code]
I did not have this error with PE 2015.3.3
Moving the line
[code]
above
[code]
solved the issue.

[2016-04-22 10:13] ltutar commented on #86
any ideas on this?

[2016-04-27 17:07] madAndroid opened #91 "Add documentation for datasource and dashboard resources"
Hi,

These are excellent to have, but it's not trivial to figure out how to set them - ideally these types and providers should have documentation indicating how to make use of them.

[2016-04-30 06:58] bfraser commented on #67
fixed in acc8075 without resorting to inline templates

[2016-04-30 06:58] #67 closed

[2016-04-30 07:00] bfraser commented on #89
This should be fixed in acc8075 as a result of moving the version logic to the install manifest.

[2016-04-30 07:01] bfraser commented on #87
This should be fixed in acc8075 as a result of moving the version logic to the install manifest.

[2016-04-30 07:03] bfraser commented on #75
I believe this has been fixed in acc8075 by moving the version logic to the install manifest.

[2016-04-30 07:19] bfraser commented on #81
Thank you for submitting the PR, this is fixed in #85 and 397f70b

[2016-04-30 07:19] #81 closed

[2016-05-15 22:49] walterheck commented on #75
Fixed indeed.

[2016-05-17 22:40] Lswith opened #94 "Support Grafana 3.0"
I'd like to use this module to install and run Grafana 3.0.

[2016-05-24 14:14] martinseener commented on #94
I've tried to just change the package version from 2.5.0 to 3.0.1 in params.pp and rolled it out successfully. Try this so you know if your config works but it should.

[2016-06-02 14:57] gdhbashton opened #95 "`grafana_datasource` does not retry HTTP requests"
From a blank machine (CentOS 7) everything provisions OK until datasources:

[code]

There's not enough time for the service to actually be ready to accept connections. Executing the same 'Puppet run' again succeeds as expected. The `send_request` would ideally have some 'try once per second for five seconds' logic to make it more robust.

[2016-06-05 06:47] madAndroid opened #96 "New tag/release on forge"
Hi there,

Are there any plans to implement a regular release cycle to the forge? Although `librarian-puppet` allows us to use git and point at the HEAD of master, or a git shasum, it would be preferable if we could point to a tag, or even better, a release in the Forge. We're using the recently added datasource and dashboard resources, but these are currently only available in the master branch.

[2016-06-09 10:17] simonpasquier commented on #86
@ltutar could you have a look at my PR?

[2016-06-09 11:39] ltutar commented on #89
Hi,

The commit 774f8a6 is indeed taking care of the ordering but acc8075 is undoing the previous change. The master is now not working with PE2016.1.1.
Any chance to get 774f8a62e7ed7e856dc8fd246c3c76b336358e7e in the master?

[2016-06-09 11:58] ltutar commented on #94
No problems on CentOS 6 except datasource.
The puppet run shows OK
[code]
for the code
[code]
But the GUI shows no datasources.
![grabberraster 0152](https://cloud.githubusercontent.com/assets/7237078/15928928/2e4e4984-2e4a-11e6-9369-61c5402dc1d0.jpg)

[2016-06-09 12:03] ltutar commented on #57
See https://github.com/bfraser/puppet-grafana/issues/94 please. Datasource is not created in Grafana version 3.

[2016-06-09 13:23] ltutar commented on #86
Hi Simon,

I tested it with HTTP and HTTPS. It is working. We can successfully create the datasource for elasticsearch. Thank you very much.

[2016-06-11 20:54] madAndroid commented on #91
This should be fixed by #97

[2016-06-11 20:54] #91 closed

[2016-06-18 11:12] nvtkaszpir commented on #57
looks like grafana_datasource requires auth.basic to be enabled?

[2016-06-19 08:50] nvtkaszpir opened #100 "grafana_datasource - support for organizations per given account"
If grafana_datasource is used with user account which belongs to few organizations, then grafana_datasource adds data sources to the currently selected organization.

Fix should allow adding specific datasources to the given organization.
Current workaround is to create separate accounts per organizations.

[2016-06-20 10:11] simonpasquier commented on #57
@nvtkaszpir yes, feel free to open an issue if you want it to support other methods.

[2016-06-20 14:13] simonpasquier commented on #100
Something like this?

[code]

I guess this also applies to the grafana_dashboard resource.

[2016-06-20 14:27] nvtkaszpir commented on #100
More likely to grafana_org to be id and not the name.

I guess it depends on how grafana treats user loging, it would require more interaction to log in, set org id to given value and then invoke datasource/dashboard creation.

[2016-06-20 14:57] trueneu opened #101 "`puppetlabs-stdlib` dependency is not recognized (puppet version 3.7.2)"
Puppet 3.7.2 fails to recognize `puppetlabs-stdlib` dependency:

[code]

(the version of `bfraser-grafana` is certainly not the latest, but if I force upgrade it to the latest, puppet starts to whine about `puppetlabs-apt` too).
Changing `-` to `/` helped me, though I don't know if it affects other puppet versions. (created a PR #102)

[2016-06-20 15:02] simonpasquier commented on #100
Ok. It might still be interesting to be able to pass the org name, especially if/when a grafana_organization resource exists...

[2016-06-23 11:16] torgrimt commented on #94
On rhel7, i used this in my hierafile:
grafana::install_method: 'repo'
grafana::repo_name: 'stable'

It installed the latest 3.0.4 version. Works like a charm

[2016-07-02 22:47] walterheck commented on #96
I'd like an answer to this as well @bfraser?

[2016-07-03 05:26] madAndroid commented on #96
Km

[2016-08-10 12:14] epleterte commented on #96
Hey - I'd like to see a new release as well! Will use git master branch for now, but it'd be great to have a new release. Let me know if I can help somehow :--)

[2016-08-19 07:03] Mortinke commented on #86
It works for us, too. I think, we could close this issue.

[2016-08-19 07:12] Mortinke commented on #94
On centos7 it works for us, too:

[code]

[2016-08-19 07:15] Mortinke opened #105 "Add ability to create organizations with Puppet"
It would be awesome to be able to setup grafana_organizations with the module.

[2016-08-24 08:53] danifr opened #106 "Module should default to 'latest' if no version is specified"
It seems there is no major issue with latest versions https://github.com/bfraser/puppet-grafana/issues/94
I'd be happy to start a PR.

Thoughts?

[2016-09-07 07:12] choonming commented on #96
pinging @bfraser for this once more

[2016-09-09 10:37] lukebigum opened #108 "Grafana_datasource provider not working on CentOS 6"
The Grafana provider is unable to connect to a local grafana server on CentOS 6 with what looks like an incompatibility with the version of Net::HTTP on CentOS 6. I cannot see where the Hash is coming from, the connection code looks pretty simple.

This Puppet code generates the error below:

[code]

[code]

[2016-09-22 19:47] ardichoke opened #109 "Remove Docker Dependency"
The docker install method is optional and not the default. The docker dependency should be removed and documentation should be added that it must be installed if you elect to use it to cut down on unnecessary dependencies. Case in point, we use a different docker module at my workplace, attempting to install this module fails because it conflicts with that docker module even though we have no inte

[2016-10-03 16:24] brettswift commented on #87
I ran into this as well.   I could use the hash but I'm curious when the new release is planned?

[2016-10-04 15:46] brettswift opened #112 "grafana_dashboard - support sourcing dashboards from the file server."
It'd be nice if the dashboards could source files from the file server.   We have dashboards in a separate file mount, and right now have to source them directly on the puppet master through the file function..which is a bit fragile.

[code]

The code only works as is - if I use the commented source for `content` instead it doesn't work.

[2016-10-04 19:19] brettswift opened #113 "Idempotency problem with `grafana_dashboard`"
Every single run it tries to update the dashboard.

[code]

I can't seem to get this server into a state where there are no changes.

If I delete the dashboard it comes back the next run..

I see the `exists?` funciton in the provider is looking for the title of the dashboard, so I'm not sure why this would be failing.

The dashboard I'm using is here in a gist:  [dashboard in question](https://gi

[2016-11-02 10:45] vitved commented on #96
Is there something holding this bump on forge back? Anything we can do to help?

[2016-11-04 15:27] Jerry1488 opened #114 "grafana_dashboard can't use it"
Hi,

I did the simplest init.pp to test grafana_dashboard. I also exported a test dashboard I created in grafana as test.json and put it in grafana/templates. But when I test my module I gete this error:
Error: /Stage[main]/Grafana/Grafana_dashboard[testboard]: Could not evaluate: can't convert Hash into String

I just can't figure out why it's happening, is there a problem with my json file since

[2016-11-09 11:16] kbon commented on #114
I had the same error on CentOS 6.8. Created #115 with a fix which worked for my case.

[2016-11-09 11:17] kbon commented on #108
I had the same error on CentOS 6.8. Created #115 with a fix which worked for my case.

[2016-11-11 23:24] dhoppe opened #116 "Is this Puppet module still maintained?"
@bfraser Is this Puppet module still maintained? The last release is from 2015-11-01 and your last commit from 2016-06-10. We have already contacted you via email to offer you the help of [Vox Pupuli](https://voxpupuli.org), but did not get a response. If you do not have enough time to maintain this module it is even possible to [migrate](https://voxpupuli.org/docs/#migrating-a-module-to-voxpupuli

[2016-11-22 15:04] kbon commented on #106
Not only that, but we maintain our own RPM repositories. As such, the version we typically want is indeed "latest", without any RPM iteration specified. Currently we can't configure the Grafana module this way on our EL6 machines, as the mandatory rpm_iteration parameter is "1" by default. We can set version to "latest" and rpm_iteration to blank, but then the module tries to install version "late

[2016-12-05 17:26] adamcstephens commented on #116
@dhoppe assuming that @bfraser is MIA, will Vox Pupuli fork and move forward on their own? This module is definitely languishing and could use some maintenance.

[2016-12-07 07:26] dhoppe commented on #116
I am afraid that we do not have another choice. If he should be active again, we will figure out how to proceed.

It is not our intention to fork orphaned Puppet modules, but in this case it is for the better good of the Puppet community.

[2016-12-07 18:27] dhoppe commented on #25
I think this has been fixed by https://github.com/voxpupuli/puppet-grafana/pull/1.

[2016-12-07 18:27] dhoppe commented on #51
I think this has been fixed by https://github.com/voxpupuli/puppet-grafana/pull/1.

[2016-12-07 18:27] dhoppe commented on #101
I think this has been fixed by https://github.com/voxpupuli/puppet-grafana/pull/1.

[2016-12-07 18:27] dhoppe commented on #106
I think this has been fixed by https://github.com/voxpupuli/puppet-grafana/pull/1.

[2016-12-08 08:55] danifr commented on #106
Cool! Thanks! I'll move to the voxpupuli one

[2016-12-08 08:55] #106 closed, assigned to nobody

[2017-01-26 14:07] gdubicki commented on #116
How's the forking going, @dhoppe ? UPDATE: nvm, I see that it has been done now: https://github.com/voxpupuli/puppet-grafana

[2017-03-03 11:35] JeffAbrahamson opened #122 "Module assumes grafana 2.5 but grafana says 4.1.2 is newest (on debian/ubuntu)"
The [grafana docs](http://docs.grafana.org/installation/debian/) for installing on debian/ubuntu indicate that the current stable version of grafana is 4.1.2.

But puppet-grafana thinks the most recent should be 2.5.0.  Even when setting `manage_package_repo => false` and `version => '4.1.2'`, version 2.5.0 is installed.

[2017-07-28 14:12] tylerfrench opened #124 "Type mismatch for 'login.LdapConfig.servers': when using heira"
I have setup roles and profiles in my puppet environment and am using hiera to setup my grafana node. Everything is working as it should however when adding the config part for ldap i am getting the following error:
`Type mismatch for 'login.LdapConfig.servers': Expected slice but found 'map[string]interface {}'`

I have figured out that the issue is when using hiera the config file needs to be la

[2017-09-20 07:24] wyardley commented on #122
FYI, working on this in the Voxpupuli fork (welcome to cherry-pick those changes in here too, @bfraser).

https://github.com/voxpupuli/puppet-grafana/pull/61

[2018-05-24 17:49] p0ntsNL opened #125 "How to add datasource"
Hi,

I am fairly new to the whole custom module thing and I was wondering how should I make the configuration if I would like to add a datasource through puppet?

currently my site.pp looks like this:

[code]

[2018-10-05 10:15] mariobede commented on #113
Having same situation in here, think it is related expecting version, uuid and title params. Version breaks the puppet run when upper version is in place.

[2020-01-03 15:22] #57 closed

[2020-01-03 15:24] #112 closed, assigned to nobody

[2020-01-03 15:25] #113 closed, assigned to nobody